 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "/js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/contact_me.js" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/agency.js" | prepend: site.baseurl }}"></script>

    <!-- Read the Formbutton docs at formspree.io/formbutton/docs. See more examples at codepen.io/formspree -->
    <script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
    <script>
        /* paste this line in verbatim */
        window.formbutton=window.formbutton||function(){(formbutton.q=formbutton.q||[]).push(arguments)};

        /* customize formbutton below*/     
        formbutton("create", {
            action: "https://formspree.io/f/xdoylzav",
            title: "Let's Talk!",
            fields: [
            { 
                type: "email", 
                label: "Email:", 
                name: "email",
                required: true,
                placeholder: "your@email.com"
            },
            {
                type: "textarea",
                label: "Message:",
                name: "message",
                placeholder: "Send ARTFX a Message!",
            },
            { type: "submit" }      
            ],
            styles: {
            title: {
                backgroundColor: "gray"
            },
            button: {
                backgroundColor: "gray"
            }
            }
        });
      </script>
