<section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Demos</h2>
                </div>
                <div class="container">
                            <div class="col-lg-12 text-center">
                                <span><iframe height="500px" width="100%" class="responsive-iframe" allow="monetization; fullscreen" src="https://cdn.soft8soft.com/AROAJSY2GOEHMOFUVPIOE:de5fed8d66/applications/Artfx_Torus_Demo/Artfx_Torus_Demo.html"></iframe></span>
                            </div>
                 </div>
            </div>
            <div class="row">
            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
